.lword {
    position: relative;
}
.new_word{
    padding: 30px 0 !important;
    /* background: #f9f9f9;  */
}

@media (max-width: 767px) {
    .new_word{
        padding: 10px 0 !important;
        /* background: #f9f9f9;  */
    }
}