@charset 'UTF-8';
/**
 * Extra Css file
 */


/* 404 PAGE */

.notfound.login-form {
    padding: 0;
}
.notfound.login-form .inner {
    padding: 60px 100px;

}

/*
 * CARD ITEM
 */

.conv-itm.conver_active .conver-ct {
    background-color: #3ed5be;
    color: #fff;
}
.conv-itm.conver_active .conver-name {
    color: #fff;
}
/* .conv-itm.conver_active .conver-ct::before {
    border-color: transparent transparent #3ed5be transparent
}
.conv-itm.conver_active .conver_right .conver-ct::before {
    border-color: transparent transparent #3ed5be transparent
} */
.conv-itm.conver_active .conver_sound{
    animation: run_light 1s infinite;
    color: #fff;
}
.conv-itm.conver_active .conver_img_wrap::before {
    display: inline-block;
}

.notfound .sub-title {
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    color: #e97e03;
}

/* LESSON PAGE - NO LEVEL */
.no-level .header-nav {
    display: none;
}

.no-level .logo-wrap {
    height: 41px;
}

.no-level .logo-wrap a {
    height: 41px;
    text-align: center;
}
.no-level .mnav-ct {
    top: 41px;
}
.no-level .logo-wrap a img {
    width: auto;
    height: 98%;
    vertical-align: top;
}
.no-level  .header-wrap, .no-level .header {
     height: 41px;
}
.no-level  .left-sidebar {
    top: 60px;
}

/* RESULT PAGE */
.u-course, .u-level{
    text-align: center;
    margin-bottom: 15px;
}
.u-course-ct {
    text-align: center;
}
.u-lesson-itm {
    display: table;
    position: relative;
    padding: 5px;
    background: #eee;
    border-radius: 40px;
    margin-bottom: 15px;
}
.u-lesson-itm:after {
    content: '';
    display: table;
    width: 100%;
    height: 0;
    clear: both;
}
.lesson-icn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    position: relative;
}
.lesson-icn img {
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lesson-result {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}
.u-lesson-itm .lesson-ttl {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    width: 100%;
    padding-right: 50px;
}

.sen-itm-blnk {
    display: inline-block;
}
